<section id="hobbies">
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong><i class="fa fa-gamepad" aria-hidden="true"></i> {{menuHobbies}}</strong></div>
      <div class="panel-body">
        {{hobbies}}
      </div>
    </div>
  </div>
</section>
