<section id="hobbies">
  <paper-header-panel>
    <paper-toolbar>
      <i class="fa fa-gamepad" aria-hidden="true"></i><div class="title"> {{menuHobbies}}</div>
    </paper-toolbar>
     <div class="content">
       <paper-card heading="">
        <div class="card-content">
            {{hobbies}}
        </div>
      </paper-card>
    </div>
  </paper-header-panel>

</section>
