<section id="languages">
<paper-header-panel>
  <paper-toolbar>
    <i class="fa fa-language" aria-hidden="true"></i><div class="title"> {{menuLang}}</div>
  </paper-toolbar>
   <div class="content">
     <paper-card heading="">
      <div class="card-content">
          {{lt}} <paper-progress value="500" class="green"></paper-progress>
          {{en}} <paper-progress value="90" class="green"></paper-progress>
          {{ru}} <paper-progress value="20" class="green"></paper-progress>
      </div>
    </paper-card>
  </div>
</paper-header-panel>
</section>
