<section id="languages">
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong><i class="fa fa-language" aria-hidden="true"></i> {{menuLang}}</strong></div>
      <div class="panel-body">

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="1" aria-valuemax="5" style="width: 100%;">
            {{lt}}
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="1" aria-valuemax="5" style="width: 90%;">
            {{en}}
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="1" aria-valuemax="5" style="width: 20%;">
            {{ru}}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
