{{>menu}}
<paper-scroll-header-panel main fixed>
  <paper-toolbar class="green">
    <iron-icon icon="icons:menu" paper-drawer-toggle></iron-icon>
    <div class="title" href="#">Domas Briedis</div>
  </paper-toolbar>

  <div class="content">

    {{>contact}}
    {{>work}}
    {{>education}}
    {{>languages}}
    {{>skills}}
    {{>hobbies}}
    {{>portfolio}}
    {{>footer}}
  </div>
</paper-scroll-header-panel>
</div>
