<section id="skills">

  <paper-header-panel>
    <paper-toolbar>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i><div class="title"> {{menuSkills}}</div>
    </paper-toolbar>
     <div class="content">
       <paper-card heading="">
        <div class="card-content">
            HTML / CSS <paper-progress value="80" class="green"></paper-progress>
            JavaScript <paper-progress value="50" class="green"></paper-progress>
            ReactJS <paper-progress value="10" class="green"></paper-progress>
            PHP <paper-progress value="20" class="green"></paper-progress>
            MySQL <paper-progress value="15" class="green"></paper-progress>
            Python <paper-progress value="10" class="green"></paper-progress>
            Node.js <paper-progress value="10" class="green"></paper-progress>
            Photoshop <paper-progress value="60" class="yellow"></paper-progress>
            Illustrator / Corel <paper-progress value="40" class="yellow"></paper-progress>
            MS Office<paper-progress value="90" class="blue"></paper-progress>
            Linux<paper-progress value="60" class="blue"></paper-progress>
            {{drive}}
        </div>
      </paper-card>
    </div>
  </paper-header-panel>


</section>
