<!DOCTYPE html>
<html lang="{{lang}}">
	<head>
		{{>header}}
	</head>

	<body style="margin-top:80px" data-spy="scroll" data-target=".navbar" data-offset="80">
		{{>navigation}}
		{{>contact}}
		{{>work}}
		{{>education}}
		{{>languages}}
		{{>skills}}
		{{>hobbies}}
		{{>portfolio}}
</body>
</html>
