#social-links {
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

#social-links a {
  font-size: 180%;
  color: #777 !important;
  padding: 5px;
}

paper-tab {
  text-align: center;
}
html, body, .content {
  height: 100%;
  margin: 0;
}
paper-scroll-header-panel {
  position: static !important;
}

paper-card {
  margin: 10px;
}

#mainContainer a {
  color: inherit;
  text-decoration: none;
}

paper-toolbar a {
  color: inherit;
  text-decoration: none;
}
section {

  margin-left: auto;
  margin-right: auto;

}
section div paper-card {
  text-align: justify;
  background-color: #FFF;
  padding: 20px;
  margin: 20px;
  margin-right: 60px;
  display:  inline-flex;;
  max-width:80%;
  width: 100%;
}
.cards, .content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.contact {
  width:auto;
}
.contact img {
  float:left;
  margin: 30px;
}

.title {
  text-align: left;
}
#data {
  text-align: justify;
  display: inline-block;
}
paper-progress {
  width: 100% !important;
  margin-bottom:10px;
}
#languages {
  height: 290px;
  max-height: 100%;
}
#skills {
  height: 590px;
  max-height: 100%;

}
#hobbies {
  height: 200px;
  max-height: 100%;
}

#education {
  max-height: 740px;
}
#portfolio, #education, #work {
  height: 100%;
}
#portfolio img {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
