#social-links {
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

#social-links a {
  font-size: 180%;
  color: #777 !important;
  padding: 5px;
}


html, body, .content {
  height: 100%;
  margin: 0;
}
paper-scroll-header-panel {
  position: static !important;
}

paper-card {
  margin: 10px;
}

#mainContainer a {
  color: inherit;
  text-decoration: none;
}
section {
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}
section paper-card {
  text-align: justify;
  background-color: #FFF;
  padding: 20px;
  margin: 20px;
  display:  inline;
  max-width: 800px;
}
.cards, .content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.contact {
  width:auto;
}
.contact img {
  float:left;
  margin: 30px;
}

.title {
  text-align: left;
}
#data {
  text-align: justify;
  display: inline-block;
}
